menu "Hardware Drivers Config"

    menu "On-chip Peripheral Drivers"
        source "./libraries/m5531/rtt_port/Kconfig"
    endmenu

    menu "On-board Peripheral Drivers"

        config BSP_USING_NULINKME
            bool "Enable UART0 for RTT Console(uart0)"
            select BSP_USING_UART
            select BSP_USING_UART0
            default y

        config BOARD_USING_DIGITAL_MICROPHONE
            bool "DIGITAL Microphone supporting(over dmic0)"
            select BSP_USING_DMIC
            select BSP_USING_DMIC0
            select DMIC_ENABLE_CHANNEL_AT_STARTUP
            default n

        config BOARD_USING_RTL8201FI
            bool "Enable Ethernet phy supporting(over emac/mdio)"
            select BSP_USING_EMAC
            default n

        config BOARD_USING_ESP8266
            bool "ESP8266 Wi-Fi module supporting(over uart8)"
            select BSP_USING_UART
            select BSP_USING_UART8
            select PKG_USING_AT_DEVICE
            select AT_DEVICE_USING_ESP8266
            select AT_DEVICE_ESP8266_INIT_ASYN
            default y

        config BOARD_USING_NAU8822
            bool "NAU8822 Audio Codec supporting(over i2s0, i2c2)"
            select NU_PKG_USING_NAU8822
            select BSP_USING_I2C3
            select BSP_USING_I2S
            select BSP_USING_I2S0
            default n

        config BOARD_USING_STORAGE_SDCARD
            bool "SDCARD supporting(over sdh0)"
            select BSP_USING_SDH
            select BSP_USING_SDH0
            default n

        config BOARD_USING_CANFD0
            bool "CAN-FD supporting(over canfd0)"
            select BSP_USING_CANFD
            select BSP_USING_CANFD0
            default y

        config BOARD_USING_EXTERNAL_HYPERRAM
            bool "External HyperRAM supporting(over spim0)"
            select BSP_USING_SPIM
            select BSP_USING_SPIM0
            default y

        if BOARD_USING_EXTERNAL_HYPERRAM
            config BOARD_USING_HYPERRAM_SIZE
                int "How many HyperRAM capacity in bytes"
                range 8388608 33554432
                default 8388608
        endif

        config BOARD_USING_MPU6500
            bool "MPU6500 6-axis MotionTracking Sensor(over lpi2c0)"
            select PKG_USING_MPU6XXX
            select PKG_USING_MPU6XXX_LATEST_VERSION
            select PKG_USING_MPU6XXX_ACCE
	        select RT_USING_SENSOR
            select BSP_USING_LPI2C
            select BSP_USING_LPI2C0
            default y

    endmenu

    menu "Board extended module drivers"

    choice
        prompt "Use LCD Panel"

        config BOARD_USING_LCD_NONE
            bool "None"

        config BOARD_USING_LCD_LT7381
            bool "LCD LT7381(over ebi0)"
            select NU_PKG_USING_LT7381
            select NU_PKG_USING_LT7381_EBI
            select NU_PKG_LT7381_WITH_OFFSCREEN_FRAMEBUFFER

        config BOARD_USING_LCD_FSA506
            bool "LCD FSA506(over ebi0)"
            select NU_PKG_USING_FSA506
            select NU_PKG_USING_FSA506_EBI
            select NU_PKG_FSA506_WITH_OFFSCREEN_FRAMEBUFFER

    endchoice

    if BOARD_USING_LCD_LT7381

        config BOARD_USING_LT7381_EBI_PORT
        int "Specify EBI port index"
        range 0 2
        default 0

        config BOARD_USING_LT7381_PIN_BACKLIGHT
        int "Specify the pin index of backlight pin index"
            range 0 127
            default 101

        config BOARD_USING_LT7381_PIN_RESET
        int "Specify the pin index of reset pin index"
            range 0 127
            default 118

        config BOARD_USING_LT7381_PIN_DISPLAY
        int "Specify the pin index of display-on"
            range 0 127
            default 112

    config BOARD_USING_FT5446
        bool "TPC FT5446(over i2c1)"
        select BSP_USING_I2C1
        select NU_PKG_USING_TPC
        select NU_PKG_USING_TPC_FT5446
        default y

    endif

    if BOARD_USING_LCD_FSA506

        config BOARD_USING_FSA506_EBI_PORT
        int "Specify EBI port index"
        range 0 2
        default 0

        config BOARD_USING_FSA506_PIN_BACKLIGHT
        int "Specify the pin index of backlight pin index"
            range 0 127
            default 101

        config BOARD_USING_FSA506_PIN_RESET
        int "Specify the pin index of reset pin index"
            range 0 127
            default 118

        config BOARD_USING_FSA506_PIN_DISPLAY
        int "Specify the pin index of display-on"
            range 0 127
            default 112

        config BOARD_USING_ST1663I
            bool "TPC ST1663I(over i2c1)"
            select BSP_USING_I2C1
            select NU_PKG_USING_TPC
            select NU_PKG_USING_TPC_ST1663I
            default y
    endif

    config BOARD_USING_SENSOR0
        bool "CCAP-SENSOR PORT0(over i2c0/PG11/PD12)"
        select BSP_USING_I2C
        select BSP_USING_I2C0
        select BSP_USING_CCAP
        select BSP_USING_CCAP0
        default n

        if BOARD_USING_SENSOR0
            config BOARD_USING_SENSON0_ID
                int "Specify Sensor0 ID"
                default 0
                range 0 3
                help
                    HM1055=0
                    ADV728X=1
        endif

    endmenu

    source "./libraries/nu_packages/Kconfig"

endmenu
